<script src="~/Scripts/ControleAplicacao/Airplane.js"></script>
<script src="~/Scripts/ControleAplicacao/Passangers.js"></script>

<div>
    <h3 style="color:red">Passangers</h3>

    <div ng-controller="Passangers" class="row">

        <div ng-init="LoadPassangers()"></div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputCPF">CPF</label>
                <input type="text" class="form-control" id="cpf" placeholder="CPF" ng-model="cpf">
            </div>
            <div class="form-group col-md-3">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" id="cpf" placeholder="Nome" ng-model="nome">
            </div>

            <div class="form-group col-md-4">
                <label for="inputAeronave">Aeronave</label>
                <div ng-controller="Airplane">
                    <div ng-init="LoadAirplane()"></div>
                    <select class="form-control select" ng-change="setAeronaveSel(dadosCombo)" ng-model="dadosCombo">
                        <option value="0" selected="selected">--Selecione--</option>
                        <option ng-repeat="option in lista" value="{{option.ID}}">{{option.MODELO}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-5">
                <button type="button" class="btn btn-primary" ng-click="adicionaItem()">Salvar</button>
            </div>

        </div>

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Dt.Criação</th>
                    <th>Aeronave</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in lista">
                    <td><strong>{{ item.PASSAGEIRO.ID }}</strong></td>
                    <td><strong>{{ item.PASSAGEIRO.NOME }}</strong></td>
                    <td><strong>{{ item.PASSAGEIRO.CPF }}</strong></td>
                    <td><strong>{{ item.PASSAGEIRO.DATACRIACAO }}</strong></td>
                    <td><strong>{{ item.AIRPLANE.MODELO }}</strong></td>
                    <td><button type="button" class="btn btn-primary" ng-click="editaItem(item.PASSAGEIRO.CPF, item.PASSAGEIRO.NOME, item.AIRPLANE.ID)">Editar</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>